extends layout

block head

  script.
      fallback.load({
        manager: '/javascript/activityManager.js'
      }, {

          shim: {
            manager: ['angular']
          }

      });

block content

  div.container(ng-controller='mainController')
    
    div.row#activity-list
      div.col-sm-4.col-sm-offset-4
        ul.list-group
          li.list-group-item(ng-repeat='activity in activities')
            | {{activity.name}}
            button(ng-click='deleteActivity(activity._id)')
              |#{__('Delete')}
            

    div.row#activity-form
      div.col-sm-8.col-sm-offset-2(text-center)
        form
          div.form-group
            input.form-control.input-md(placeholder='Pintura', ng-model='formData.name')

          button.btn.btn-primary.btn-lg(type='submit', ng-click='createActivity()')
            | Add